@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  src: url("/fonts/Exo2-Regular.ttf") format("truetype");
 }
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-transform: uppercase;
  height: 60px;
}
nav > ul {
  padding: 0;
  display: flex;
  gap: 20px;
}
nav > ul li {
  list-style: none;
  font-size: 14px;
  font-family: 'Exo 2';
  font-weight: 400;
}
nav > ul li:hover {
  cursor: pointer;
  color: #87b523;
}
nav > button {
  font-size: 12px;
  font-family: 'Exo 2';
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: #87b523;
  color: #fff;
}
nav > button:hover {
  background-color: #aaca64;
  transition: 0.2s;
  cursor: pointer;
}
main {
  height: 500px;
  text-align: center;
  background-image: url(img-back.jpeg);
  background-size: cover;
  background-position: center center;
  opacity: .9;
}
.sl-text {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
}
.sl-text h1, .sl-text h2 {
  font-family: 'Exo 2';
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 10px #000;
}
.sl-text h1 {
  font-size: 46px;
}
.sl-text h2 {
  font-size: 32px;
}
.sl-text button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  background-color: #38d84d;
}
.sl-text button:hover {
  background-color: #31af42;
  transition: 0.2s;
  cursor: pointer;
}
