nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-transform: uppercase;
  height: 60px;
}
nav > ul {
  padding: 0;
  display: flex;
  gap: 20px;
}
nav > ul li {
  list-style: none;
  font-size: 14px;
}
nav > button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: #87b523;
  color: #fff;
}
nav > button:hover {
  background-color: #aaca64;
  transition: 0.2s;
  cursor: pointer;
}
main {
  height: 300px;
  text-align: center;
  background-image: url(img-back.jpeg);
  background-size: cover;
  background-position: center;
  opacity: .9;
}
main > button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  background-color: #38d84d;
}
main > button:hover {
  background-color: #31af42;
  transition: 0.2s;
  cursor: pointer;
}
