@font-face {
	font-family: "Exo2 Regular";  
	src: url("/fonts/Exo2-Regular.ttf") format("truetype");
 }
@font-face {
	font-family: "Exo2 Medium";
	src: url("/fonts/Exo2-Medium.ttf") format("truetype");
} 
@font-face {
	font-family: "Exo2 Bold";
	src: url("/fonts/Exo2-Bold.ttf") format("truetype");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-transform: uppercase;
  height: 60px;
}
nav > ul {
  padding: 0;
  display: flex;
  gap: 20px;
}
nav > ul li {
  list-style: none;
  font-size: 14px;
}
nav > button {
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  background-color: #87b523;
  color: #fff;
}
nav > button:hover {
  background-color: #aaca64;
  transition: 0.2s;
  cursor: pointer;
}
main {
  height: 500px;
  text-align: center;
  background-image: url(img-back.jpeg);
  background-size: cover;
  background-position: center center;
  opacity: .9;
}
.sl-text {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}
.sl-text h1 {
  font-family: 'Exo 2 Bold';
  font-size: 46px;
}
.sl-text h2 {
  font-family: 'Exo 2 Bold';
  font-size: 32px;
}
.sl-text button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-family: 'Exo 2 Regular';
  font-size: 16px;
  background-color: #38d84d;
}
.sl-text button:hover {
  background-color: #31af42;
  transition: 0.2s;
  cursor: pointer;
}
